<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <h1 id="bd">בסיעתא דשמיא</h1>

    <h1 id="fl">welcome Airline</h1>

   <%   const deleteaflight=async (id)=>{
        const result = await knex("flights").where({Id:id}).del();
        if (id===undefined){
            throw new Error("id not define")}
        return result;
    }%>


   <div class="flights">
 
          <% if (typeof flights !== 'undefined' && flights) { %>  

<h2><a id="addflight" href="/addflight" >add flight</a> </h2>

<tr>
    <table>
        <thead>

        <tr>
            <th>action</th>
            <th>flights Id</th>
            <th>Airline compeny</th>
            <th>Origine Country</th>
            <th>Destination Country</th>
            <th>Time destination</th>
            <th>Time departs</th>
            <th>Remaining Tickets</th>
        
        </tr>
        </thead>
        <tbody>  
           
        <% flights.forEach((flight) => {  %>
        <tr>
            <td><a href="/api/flight/deleteflight/<%=flight.Id%>">deleteflight</a> <a href="editflight/<%=flight.Id%>">editflight</a></td>
            <td><%= flight.Id %></td>
            <td><%= flight.Name %></td>
            <td><%= flight.depurture%></td>
            <td><%= flight.arrival%></td>
            <td><%= flight.Departure_Time%></td>
            <td><%= flight.Landing_Time%></td>
            <td><%= flight.Remaining_Tickets%></td>
            
        </tr>


        <% }) %>

</tbody>

    </table>

</div>
       
        <% } else {%>
                   <h3>there is no flights to show</h3> 
            <% } %> 
 
</body>

</html> 